@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono&family=Tourney:ital@1&family=Vibur&display=swap");

body {
  background-image: url("/public/images/nao-takabayashi-gT3b5EwYAnQ-unsplash.webp");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto Mono";
  margin: 0;
  padding-top: 0;
  height: 100vh;
}

h1 {
  font-family: "Tourney";
  text-align: center;
  font-size: 4rem;
  color: green;
  text-shadow: 1px 1px 5px #80ff80;
}

.score-container {
  font-family: "Press Start 2P";
  display: flex;
  justify-content: center;

}

#scoreDisplay {
  height: 30px;
  color: white;

}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: green;
  color: white;
  margin-top: 1rem;
  border: 2px solid black;
}

#startButton {
  background-color: green;
}

#stopButton {
  background-color: red;
}

.circle-container {
  display: flex;
  max-width: 1100px;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}